<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AiSandEmber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8401EBA51BD2218100BD7D00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8401EBBE1BD2218200BD7D00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8401EBC91BD2218200BD7D00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
